.hero__container {
  width: 100vw;
  height: 45vh;
  position: relative;
  /* background: url(/src/assets/nope-movie-jordan-peele-poster-cast.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.hero__header {
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.header__black {
  background-color: #050505;
}

.hero__logoBox {
  width: 7rem;
  height: 100%;
  margin-left: 1.5rem;
  filter: drop-shadow(1px 1px 5px #050505);
  -webkit-filter: drop-shadow(1px 1px 5px #050505);
}

.hero__logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero__avatarBox {
  width: 4rem;
  height: 90%;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.hero__avatar {
  width: 75%;
  height: 75%;
  object-fit: contain;
  cursor: pointer;
  box-shadow: 1px 1px 5px #050505;
}

.hero__contentBox {
  width: 30rem;
  height: 17rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.hero__contentBox::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  background-color: #050505;
  opacity: 0.8;
  z-index: -1;
}

.hero__contentTitle {
  width: 100%;
  /* border: 1px solid red; */
}

.hero__contentTitle > h2 {
  font-size: 2.2rem;
  text-align: start;
}

.hero__contentOverview {
  width: 100%;
  text-align: start;
  margin-bottom: 0.5rem;
  /* border: 1px solid red; */
}

.hero__contentOverview > p {
  text-transform: initial;
}

.hero__buttonContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__buttons {
  width: 10rem;
  height: 2.25rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.hero__buttons:nth-child(1) {
  margin-right: 1rem;
}

.hero__buttons:hover {
  background-color: rgb(56, 54, 54);
}

/* MEDIA QUERIES */

/* Tablet Portrait */

@media screen and (min-width: 768px) {
  .hero__logoBox {
    width: 10rem;
  }

  .hero__avatarBox {
    width: 5rem;
  }

  .hero__contentBox {
    width: 35rem;
    height: 20rem;
    padding: 2.5rem;
  }
}

/* Tablet Landscape */

@media screen and (min-width: 1080px) {
  .hero__contentBox {
    margin-left: 2rem;
    padding: 2rem 3rem;
    top: 38%;
    left: 0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  .hero__buttonContainer {
    justify-content: flex-start;
  }
}

/* Desktop HD */

@media screen and (min-width: 1280px) {
  .hero__contentBox {
    top: 32%;
  }
}

/* Tablet Landscape 12.9 inch */

@media screen and (min-width: 1366px) {
  .hero__contentBox {
    top: 45%;
  }

  .hero__buttons:nth-child(1) {
    margin-right: 1.5rem;
  }
}

/* Desktop Full HD */

@media screen and (min-width: 1920px) {
  .hero__contentBox {
    margin-left: 3rem;
    top: 35%;
    width: 45rem;
    height: 28rem;
    padding: 2.5rem;
  }

  .hero__contentTitle > h2 {
    font-size: 4rem;
  }

  .hero__contentOverview > p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .hero__buttons {
    width: 12rem;
    height: 2.75rem;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
  }
}

/* Desktop UltraWide HD */

@media screen and (min-width: 3440px) {
  .hero__contentBox {
    width: 65rem;
    height: 35rem;
    padding: 3rem;
  }

  .hero__contentTitle > h2 {
    font-size: 5rem;
  }

  .hero__contentOverview > p {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .hero__buttons {
    width: 17rem;
    height: 4rem;
    font-size: 2rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
  }
}
