.row__sectionTitle {
  text-align: start;
  text-transform: initial;
  padding: 1rem;
}

.row__section {
  width: 100vw;
  height: auto;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  /* Works for FireFox */
  scrollbar-width: none;
}

.row__sectionTitle {
  font-weight: 400;
}
